/* Styling the body */
* {
    padding: 0;
    margin: 0;
  }

/* Styling the background image by
giving its url and position */
.container 
{
    height: 100vh;
    width: 100%;
    background-image: url('./background.jfif');
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Styling the list tags to the
right of the navigation bar */
.nav li 
{
    float: right;
    list-style: none;
}

/* Styling the anchor tags of
the navigation bar */
.nav a 
{
    list-style: none;
    height: 50px;
    line-height: 50px;
    font-size: 1rem;
    font-weight: 550;
    display: block;
    padding: 5px 35px;
    color: white;
    text-decoration: none;
}

/* Giving position and margin
to the content-div */
.content 
{
    width: 100%;
    position: absolute;
    top: 50%;
}

/* Styling the left-col by
giving margin */
.left-col 
{
    margin-left: 10%;
    margin-top: 0%;
}

/* Styling the my sound placed
in the left-col */
.left-col p
{
    font-size: 25px;
    color:yellow;
    font-style: oblique;
}
.left-col b
{
    font-size: 35px;
    color:yellow;
    font-style: oblique;
}

/* Styling the right-col */
.right-col 
{
    float: right;
    margin-right: 10%;
    margin-top: -5%;
    display: flex;
    align-items: center;
}

/* Styling the text in the right-col */
.right-col p 
{
    font-size: 20px;
    color:pink;
    font-weight: 100;
    margin-right: 30px;
}

/* Styling the cursor type
of the icon to pointer */
#icon 
{
    cursor: pointer;
    height: 100px;
    width: 100px;
}
@media only screen and (max-width:500px) 
{
    /* for mobile phones */
    .container,.content,.left-col,.right-col,.nav
    {
        width: 100%;
    }
}
@media only screen and (max-width:800px) 
{
    /* for tablets */
    .container
    {
        width: 80%;
        padding:0;
    }
    .content
    {
        width: 100%;
    }
}

